extends ../layouts/layout

block var
    - bodyClass = "index-page"
    - pageTitle = "Prism Home Page"
block css
    link(rel="stylesheet", href="./css/home.css")
block main
    .container
        a(href="documents.html") Read Me